<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">oldPassword</label>
        <input formControlName="oldPassword" id="oldPassword" class="control-name">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">oldPassword is required</div>
            </div>

    </div>
    <div class="form-group">
            <label for="newPassword">newPassword</label>
            <input formControlName="newPassword" id="newPassword" class="control-name">
            <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">newPassword is required</div>
           </div>
    
        </div>
        <div class="form-group">
                <label for="conformPassword">conformPassword</label>
                <input formControlName="conformPassword" id="conformPassword" class="control-name">
                <div *ngIf="conformPassword.touched && conformPassword.invalid" class="alert alert-danger">
                    <div *ngIf="conformPassword.errors.required">conformPassword is required</div>
                    </div>
        
            </div>
            <button class="btn btn-primary">change password</button>

</form>
