.zippy{
    border: 2px solid;
    border-radius: 2px;

}
.zippy-heading{
    font-weight: bold;
    padding:20px;
    cursor: pointer;
}
.zippy-body{
    padding: 20px;

}
.expanded{
    background: blanchedalmond;
}
.glyphicon{
    float: right;
}